*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.main{
    background-color:#ccc;
    width: 400px;
    margin:100px auto;
    height: 175px;
    position: relative;
    padding:30px;
}
.badge{
    background-color: #e66357;
    color:white;
    padding:5px 10px;
    font-family: sans-serif;
    font-weight: bold;
    width:96px;
    position: absolute;
    left:40%;
    top:-10px;
}
.clock{
   background-color: #ebebeb; 
   text-align: center;
   font-size: 55px;
   height: 100%;
   padding-top:25px;
   font-family: 'Roboto', sans-serif;
}